<!DOCTYPE html>
<html>

<head>
    <title>CRUD de Clientes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Preencha os dados abaixo para salvar o cliente.</p>
    <form action="/edit" method="POST">
        <input type="hidden" name="_id" value="<%= doc._id  %>">
        <p>
            <label>Nome: <input type="text" name="nome" value="<%= doc.nome %>" /></label>
        </p>
        <p>
            <label>Idade: <input type="number" name="idade" value="<%= doc.idade %>" /></label>
        </p>
        <p>
            <label>UF:
                <select name="uf">
                    <% estados.forEach(function(uf){ %>
                    <option <%= doc.uf == uf? "selected":"" %>><%= uf  %></option>
                    <% }) %>
                </select>
            </label>
        </p>
        <p>
            <a href="/">Cancelar</a> | <input type="submit" value="Salvar" />
        </p>
    </form>
</body>

</html>